.advantages {
  padding-top: 35px;
  padding-right: 42px;
  padding-left: 70px;
  padding-bottom: 35px;
  margin: 0;
  text-transform: uppercase;
  background-color: $bg-white;
}

.advantages__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.advantages__item {
  padding: 0;
  margin: 0;
  margin-bottom: 28px;

  @include text-size(14px, 21px);

  &:last-child {
    margin-bottom: 0;
  }
}

.advantages__title {
  padding: 0;
  margin: 0;
  margin-bottom: 14px;

  @include text-size(18px, 26px);
}

.advantages__text {
  padding: 0;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .advantages {
    min-height: 330px;
    padding: 0;
    margin: 0;
  }

  .advantages__list {
    display: flex;
    justify-content: row;
  }
}
