.advantages {
  padding-top: 37px;
  padding-right: 42px;
  padding-left: 70px;
  padding-bottom: 37px;
  margin: 0;
  text-transform: uppercase;
  background-color: $bg-white;
}

.advantages__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.advantages__item {
  padding: 0;
  margin: 0;
  margin-bottom: 28px;

  @include text-size(14px, 21px);

  &:last-child {
    margin-bottom: 0;
  }
}

.advantages__title {
  position: relative;
  padding: 0;
  margin: 0;
  margin-bottom: 14px;

  @include text-size(18px, 26px);
}

.advantages__item--lodging {
  .advantages__title {
    &::before {
      content: "";
      position: absolute;
      width: 39px;
      height: 37px;
      top: -11px;
      left: -48px;
      background-image: url("../img/icon-house.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.advantages__item--souvenirs {
  .advantages__title {
    &::before {
      content: "";
      position: absolute;
      width: 32px;
      height: 38px;
      top: -12px;
      left: -44px;
      background-image: url("../img/icon-gift.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.advantages__item--food {
  .advantages__title {
    &::before {
      content: "";
      position: absolute;
      width: 40px;
      height: 35px;
      top: -6px;
      left: -51px;
      background-image: url("../img/icon-burger.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.advantages__text {
  padding: 0;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .advantages {
    min-height: 330px;
    padding: 0;
    margin: 0;
  }

  .advantages__list {
    display: flex;
    justify-content: row;
  }

  .advantages__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.3333%;
    margin: 0;
    text-align: center;
  }

  .advantages__text {
    margin-bottom: 61px;
    margin-left: 45px;
    margin-right: 45px;
  }

  .advantages__item:nth-child(2) {
    order: 1;
  }

  .advantages__title {
    margin-top: 160px;
    margin-bottom: 20px;

    @include text-size (21px, 26px);
  }

  .advantages__item--lodging {
    .advantages__title {
      &::before {
        width: 75px;
        height: 72px;
        top: -100px;
        left: -4px;
      }
    }
  }

  .advantages__item--souvenirs {
    .advantages__title {
      &::before {
        width: 64px;
        height: 75px;
        top: -103px;
        left: 18px;
      }
    }
  }

  .advantages__item--food {
    .advantages__title {
      &::before {
        width: 77px;
        height: 68px;
        top: -97px;
        left: -19px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages__text {
    margin-left: 57px;
    margin-right: 57px;
  }

  .advantages__item--lodging {
    .advantages__title {
      &::before {
        left: -5px;
      }
    }
  }

  .advantages__item--souvenirs {
    .advantages__title {
      &::before {
        left: 18px;
      }
    }
  }

  .advantages__item--food {
    .advantages__title {
      &::before {
        left: -18px;
      }
    }
  }
}
