.lodge-search {
  padding-top: 27px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 49px;
  margin: 0;

  @include text-size (21px, 26px);
  text-align: center;
  text-transform: uppercase;
  background-color: $bg-white;
}

.lodge-search__annotation {
  padding: 0;
  margin: 0;
  margin-bottom: 19px;
  font-weight: bold;
}

.lodge-search__text {
  padding: 0;
  margin: 0;

  @include text-size (14px, 24px);
}

.lodge-search__header {
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
}

.lodge-search__button {
  display: inline-block;
  width: 280px;
  padding-top: 16px;
  padding-bottom: 16px;
  vertical-align: middle;
  font-weight: bold;
  text-decoration: none;
  color: $bg-white;
  background-color: $bg-blue;
}

@media (min-width: $tablet-width) {
  .lodge-search {
    padding-top: 57px;
    margin-bottom: 9px;
  }

  .lodge-search__annotation {
    margin-bottom: 30px;

  @include text-size(30px, 26px);
  }

  .lodge-search__text {
    margin-bottom: 41px;
  }

  .lodge-search__button {
    width: 459px;
  }
}

@media (min-width: $desktop-width) {
  .lodge-search {
    margin-bottom: 17px;
  }

  .lodge-search__text {
    padding-left: 350px;
    padding-right: 350px;
    margin-bottom: 46px;
  }
}