.main-nav {
  width: 320px;
  margin: 0 auto;

  @include text-size(18px, 40px);
  font-weight: bold;
  background-color: $bg-blue;
}

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-nav__item {
  padding-top: 7px;
  padding-bottom: 7px;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;
  text-align: center;

  &:last-child {
    border-bottom: none;
  }
}

.main-nav__link {
  text-transform: uppercase;
  text-decoration: none;
  color: $bg-white;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: auto;
    margin: 0;

    @include text-size(14px, 26px);
    background-color: $bg-white;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    min-height: 57px;
    display: flex;
    justify-content: space-around;
    width: auto;
    margin: 0 auto;
  }

  .main-nav__item {
    border: none;
  }

  .main-nav__link {
    color: $bg-black;
  }
}

