.page-footer {
  min-width: 320px;
  padding-top: 34px;
  margin: 0 auto;
  text-align: center;
  background-color: $bg-white;
}

.page-footer__hashtag {
  padding: 0;
  margin: 0;
  margin-bottom: 45px;

  @include text-size (21px, 26px);
  font-weight: bold;
  text-transform: uppercase;
}

.page-footer__copyright-text {
  padding-top: 5px;

  @include text-size (14px, 26px);
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding: 0;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 47px;
    padding-bottom: 29px;
    margin-left: 60px;
    margin-right: 60px;
  }

  .page-footer__hashtag {
    padding: 0;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__hashtag {
    padding-left: 72px;
  }
}
