.photo-gallery {
  padding: 0;
  margin: 0;

  @include text-size(14px, 24px);

  .photo-gallery__annotation {
    padding: 0;
    padding-left: 23px;
    padding-right: 23px;
    margin: 0;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
  }
}

.photo-gallery__item {
  padding: 20px;
  margin: 0;
  border-top: 1px solid #e5e5e5;

  &:last-child {
    border-bottom: 1px solid #e5e5e5;
  }
}

.photo-gallery__post {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.photo-gallery__info {
  order: 1;
  margin-bottom: 20px;
}

.photo-gallery__title {
  padding: 0;
  margin: 0;

  @include text-size(14px, 24px);
  text-transform: uppercase;
}

.photo-gallery__author {
  font-style: normal;
}

.photo-gallery__likes {
  order: 2;
  padding-left: 37px;
  font-weight: bold;
}

@media (min-width: $tablet-width) {
  .photo-gallery__wrapper {
    margin: 0 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .photo-gallery__item {
    width: 50%;
    padding: 0;
    border: none;

    &:last-child {
      border-bottom: none;
    }
  }

  .photo-gallery__item:first-child {
    width: 100%;
  }

  .photo-gallery__post {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .photo-gallery__photo-link {
    width: 100%;
  }

  .photo-gallery__info {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .photo-gallery__item {
    width: 33%;
  }
}
