.photo-gallery {
  padding: 0;
  margin: 0;

  @include text-size(14px, 24px);

  .photo-gallery__annotation {
    padding: 0;
    padding-left: 23px;
    padding-right: 23px;
    margin: 0;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
  }
}

.photo-gallery__item {
  padding-top: 21px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
  margin: 0;
  border-top: 1px solid #e5e5e5;

  &:last-child {
    border-bottom: 1px solid #e5e5e5;
  }
}

.photo-gallery__post {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.photo-gallery__container {
  margin-top: 17px;
  margin-bottom: 8px;
}

.photo-gallery__preview {
  vertical-align:bottom;
}

.photo-gallery__info {
  margin-bottom: 16px;
}

.photo-gallery__title {
  padding: 0;
  margin: 0;

  @include text-size(14px, 24px);
  text-transform: uppercase;
}

.photo-gallery__author {
  font-style: normal;
}

.photo-gallery__likes {
  padding-left: 37px;
  font-weight: bold;
}

@media (min-width: $tablet-width) {
  .photo-gallery {
    padding-top: 14px;
  }

  .photo-gallery__header {
    padding-left: 138px;
    padding-right: 138px;
    margin-bottom: 68px;
  }

  .photo-gallery__wrapper {
    margin: 0 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .photo-gallery__item {
    width: 50%;
    padding: 0;
    border: none;

    &:last-child {
      border-bottom: none;
    }
  }

  .photo-gallery__item:first-child {
    width: 100%;
  }

  .photo-gallery__post {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .photo-gallery__photo-link {
    width: 100%;
    background-color: #8d5a35;
  }

  .photo-gallery__info {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 20px;
    padding-right: 29px;
    margin: 0;
    background-color: $bg-grey;
  }
}

@media (min-width: $desktop-width) {
  .photo-gallery {
    padding-top: 16px;
  }

  .photo-gallery__wrapper {
    margin: 0;
  }

  .photo-gallery__item {
    width: 33.3333%;
  }

  .photo-gallery__post {
    position: relative;
  }

  .photo-gallery__info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    color: $bg-white;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
