.social__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 150px;
  margin: 0 auto;
  margin-bottom: 39px;
  padding: 0;
  list-style: none;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: $bg-blue;

  &:hover, &:focus {
    background-color: $bg-blue-hover;
  }

  &:active {
    background-color: $bg-blue-active;
  }
}

.social__link:active path {
  fill: rgba(255, 255, 255, 0.5);
}

@media (min-width: $tablet-width) {
  .social__list {
    justify-content: space-between;
    align-items: center;
    margin: 0;
    list-style: none;
  }
}
