$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;
$bg-blue: #81b3d2;
$bg-blue-hover: #669ec0;
$bg-blue-active: #5496bd;
$bg-brown: #766357;
$bg-brown-hover: #604e43;
$bg-brown-active: #dbd8d5;
$bg-white: #ffffff;
$bg-grey: #eeeeee;
$bg-grey-hover: #e5e5e5;
$bg-grey-active: #d5d5d5;
$bg-black: #000000;
$font: "PT Sans", "Arial", sans-serif;
